# Maven
target/

# IntelliJ IDEA
.idea/
*.iml

# Compiled class files
*.class

# Logs
*.log

# Package files
*.jar
*.war
*.ear

# OS files
.DS_Store
Thumbs.db

# JVM crash logs
hs_err_pid*
replay_pid*
